* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo*/
body {
    background-color: #ffffff;
    padding: 80px;
    text-align: center; 
    
    min-height: 100vh;
}

/* Container*/
.container {
    background: #673AB7; 
    width: 100%;
    max-width: 450px;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 0 auto; 
}

/* Título */
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #000000;
}

/* Labels */
label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
    color: #000000;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #D1C4E9;
    font-size: 15px;
    transition: 0.3s;
}

/*botao*/
#btn_enviar {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #D1C4E9;
    color: #fff;
    border: none;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#btn_enviar:hover {
    background: #56006b;
}
/*resultado*/
#resultado {
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}